@import url('https://fonts.googleapis.com/css?family=Roboto');

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #29b6f6, #81d4fa);
  background-attachment: fixed;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.zip-form {
  padding: 15px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
}

.zip-form label {
    margin-top: 7px;
    vertical-align: middle;
}

.zip-form input {
    width: 20%;
    margin: 0 10px;
    font-size: 20px;
    vertical-align: middle;
}

.zip-form button {
  padding: 7px 10px;
  background-color: #ffc107;;
  border: 1px solid #000;
  border-radius: 5px;
}

  .zip-form button:hover {
    background-color: #ff7043; 
    color: #000; 
    cursor: pointer;
  }

.weather-list {
  margin: 20px 0;
}

.weather-list-item {
  min-width: 100px;
  margin: 0 10px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

  .weather-list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
  }


  .weather-list-item :first-child {
    margin-left: 0;
  }

  .weather-list-item :last-child {
    margin-right: 0;
  }

  .weather-list-item > h3 {
    font-weight: normal;
  }

.current-day {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.details {
  justify-content: flex-start;
}
  .details > div {
    padding-left: 20px;
  }

  .details > div :first-child {
    padding-left: 0;
  }

.weather {
  font-size: 30px;
  line-height: 1.4;
}
    
  .weather p {
      margin: 0;
  }

  .weather img {
      vertical-align: middle;
  }
  
.current-weather {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.sample-collection {
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.sample-list-item {
  min-width: 100px;
  margin: 0 10px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}